#app{
    text-align: center;
}
#fileinput{
  display: flex;
  justify-content: center;
}
#howtouse{
  display: flex;
  justify-content: center;
}
p{
  display: flex;
  justify-content: center;
}
#fileupload{
  background-color: #000000;
  color: #ffffff;
  width: 100px;
  height: 30px;
}
#discription{
    border: solid;
}