#title{
  text-align: center;
}

#key,
#likeKey,
#normalButton,
#fileinput,
#howtouse,
p,
#hashed1,
#hashed2{
  display: flex;
  justify-content: center;
  align-items: center;
}

#decrypt,
#encrypt,
#hash,
#startProgram,
#fileuploadE,
#fileuploadD{
  background-color: #000000;
  color: #ffffff;
  width: 100px;
  height: 30px;
}

#discription{
  border: solid;
}

input[type=text] {
  border-color:#000000;
}

input[type=submit]{
  background-color:#000000;
  color:#ffffff;
  width: 40px;
  height: 25px;
}

input[type=button]{
  background-color:#000000;
  color:#ffffff;
  width: 100px;
  height: 25px;
}

#normalButton{
  padding: 20em;
}

/* 숨기기 */
#fileuploadE,
#fileuploadD {
  display: none;
}

/* 커스텀 버튼 스타일 */
.custom-file-upload {
  background-color: #000000;
  color: #ffffff;
  padding: 8px 20px;
  text-align: center;
}